<div class="row">
  <div class="file-field input-field col s8">
    <div class="btn">

      <input type="file" (change)="selectFile($event)">
    </div>

  </div>



  <div class="col s4">
    <button class="btn waves-effect waves-light green" [disabled]="!selectedFiles" (click)="upload()">Upload
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>

<div *ngIf="currentFile" class="my-3">
  <div class="progress">
    <div class="determinate" style="width: {{ progress }}%" attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  {{ progress }}%
</div>

<div *ngIf="message" class="card-panel grey lighten-2" role="alert">
  {{ message }}
</div>

<div class="card mt-3">
  <div class="card-content">
    <span class="card-title">List of Files</span>
    <ul class="collection">
      <li *ngFor="let file of fileInfos | async" class="collection-item">
        <a href="{{ file.url }}">{{ file.name }}</a>
        <app-file-delete [fileName]="file.name"></app-file-delete>
        <!-- Ajouter un événement clic pour déclencher le téléchargement -->
        <app-file-download [fileName]="file.name" (downloadFile)="(file.name)"></app-file-download>
      </li>
    </ul>
  </div>
</div>
